[user]
  name = name
  email = email
[color]
  ui = auto
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  dfs = diff --staged
  lg = log -p
[core]
  excludesfile = ~/.gitignore
