[user]
  name = name
  email = email
[color]
  ui = auto
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
[core]
  excludesfile = ~/.gitignore
  quotepath = off
[remote "origin"]
  push = HEAD
